@tailwind base;
@tailwind components;
@tailwind utilities;


.app-wrapper {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

/* TITLE */
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 40px;
}

/* INPUT SECTION */
.input-section {
  background-color: #a8f3ff;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.input-group input {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 6px;
  width: 40%;
}

/* BUTTONS */
.button-group {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.btn {
  padding: 15px 25px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  width: 180px;
}

.btn.check {
  background-color: #d84ce3;
  color: white;
}

.btn.clear {
  background-color: #ff6464;
  color: white;
}

/* WEATHER RESULT */
.weather-display {
  margin-top: 80px;
  padding: 20px;
  background-color: #d84ce3;
  color: white;
  border-radius: 12px;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  font-weight: 500;
}


/* Tablets */
@media (max-width: 900px) {
  .input-group {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .input-group input {
    width: 100%;
  }

  .btn {
    width: 150px;
    padding: 12px;
  }

  .title {
    font-size: 2.5rem;
  }
}

/* Phones */
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .input-section {
    padding: 20px;
    font-size: 1.1rem;
  }

  .weather-display {
    font-size: 1.3rem;
    padding: 15px;
  }

  .btn {
    width: 130px;
    font-size: 1rem;
    padding: 10px;
  }
}

/* Extra Small Phones */
@media (max-width: 400px) {
  .title {
    font-size: 1.7rem;
  }

  .input-group label {
    font-size: 1rem;
  }

  .btn {
    width: 120px;
  }
}
